<!doctype html>
<html>

  <%- include('./utils/head.ejs'); %>

<body>
  <div class="reveal">
    <div class="slides">
      <section data-transition="slide">
        <div class="form-group">
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="Nombre">
        </div>
        <a href="#" class="navigate-right">Siguiente campo</a>
      </section>

      <section data-transition="zoom">
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Email" name="Email">
        </div>
        <a href="#" class="navigate-right">Siguiente campo</a>
      </section>

      <section data-transition="zoom">
        <div class="form-group">
          <input type="text" class="form-control" id="linkedin" placeholder="Linkedin" name="Linkedin">
        </div>
        <a href="#" class="navigate-right">Siguiente campo</a>
      </section>

      <section data-transition="zoom">
        <div class="form-group">
          <p>captura</p>
        </div>
        <a href="#" class="navigate-right">Siguiente campo</a>
      </section>

      <section data-transition="zoom">
        <div class="form-group">
          <input type="number" class="form-control" id="salario" placeholder="Salario aproximado" name="Salario">
        </div>
        <a href="#" class="navigate-right">Siguiente campo</a>
      </section>

      <section data-transition="zoom">
        <div class="form-group">
          <textarea  class="form-control" id="mensaje" placeholder="Mensaje" name="Mensaje"></textarea>
        </div>
      </section>
    </div>
  </div>

  <%- include('./utils/footer.ejs'); %>
</body>

</html>