<!doctype html>
<html>

<%- include('./utils/head.ejs'); %>

<body>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <form class="form-group">
          <input class="form-in" type="text" id="nombre" name="Nombre" required>
          <label class="lbl-nombre">
            <span class="texto-lbl">Nombre</span>
          </label>
        </form>
      </div>
      <div class="swiper-slide">
        <form class="form-group">
          <input class="form-in" type="email" id="email" name="Email" required>
          <label class="lbl-nombre">
            <span class="texto-lbl">Email</span>
          </label>
        </form>
      </div>
      <div class="swiper-slide">
        <form class="form-group">
          <input class="form-in" type="text" id="linkedin" name="Linkedin" required>
          <label class="lbl-nombre">
            <span class="texto-lbl">Linkedin</span>
          </label>
        </form>
      </div>
      <div class="swiper-slide">
        <form class="form-group">
          <input class="form-in" type="url" id="url" required>
          <label class="lbl-nombre">
            <span class="texto-lbl">URL de la imágen</span>
          </label>
        </form>
        <div id="imagen">LALAL</div>
      </div>
      <div class="swiper-slide">
        <form class="form-group">
          <input class="form-in" type="number" id="salario" name="Salario" required>
          <label class="lbl-nombre">
            <span class="texto-lbl">Salario</span>
          </label>
        </form>
      </div>
      <div class="swiper-slide">
        <form class="form-group">
          <textarea class="form-in" id="mensaje" name="Mensaje" required></textarea>
          <label class="lbl-nombre">
            <span class="texto-lbl">Mensaje</span>
          </label>
        </form>
        <button class="btn-enviar">Enviar</button>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <%- include('./utils/footer.ejs'); %>
</body>

</html>