<!DOCTYPE html>
<html lang="en">
    <%- include('./utils/head.ejs'); %>
<body>
    <header>
        <div class="container">
            <div class="card py-5 border-dark rounded animate__animated animate__fadeInBottomRight">
                <div class="card-bodys">
                    <p class="h1 text-center py-5 animate__animated animate__zoomInUp animate__delay-2s">Logo</p>
                    <p class="h5 px-4 py-4 mx-5 animate__animated animate__backInUp animate__delay-3s">Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Iure molestiae nam, deleniti aliquid illum eiussss.</p>
                    <div class="row"></div>
                    <div class="text-center">
                        <button class=" btn-login mt-5 animate__animated animate__swing animate__delay-4s"><a class="text-enlace"
                                href="/auth/google">Login</a></button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <%- include('./utils/footer.ejs'); %>
</body>

</html>