<div>
    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <h4 class="card-title text-center ">Novedades</h4>
            </div>
            <div class="card-body h-100 d-block ">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus repellendus nam distinctio blanditiis voluptas ipsam magni exercitationem qui quibusdam tempore? Quos est atque ullam praesentium exercitationem quas in inventore cumque.
            </div>

        </div>
    </div>
</div>